ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=JBFqnCBsd6RMkjVDRZzb
ELEVENLABS_BASE_URL=https://api.elevenlabs.io
ELEVENLABS_OUTPUT_FORMAT=mp3_44100_128
ELEVENLABS_TTS_MODEL=eleven_v3
ELEVENLABS_SOUND_MODEL=eleven_text_to_sound_v2
ELEVENLABS_MUSIC_MODEL=music_v1
AUDIO_GENERATION_TOKEN=change-this-local-token
NEXT_PUBLIC_USE_GENERATED_AUDIO=false